.contenedor_fechas{
	margin-top: 30px!important;
	margin-bottom: 30px!important;
}
#searchUser {
	width: 100%!important;
	// height: 180px!important;
	margin-bottom: 15px!important;
}
#buscador {
	background-color: $gris;
	padding: 50px;
	// margin: 10% auto 20%;
	border-radius: 10px;
}
#btn_buscar {
	margin-top: 8px!important;
	cursor: pointer;
}
// alinear a la izq texto barrio
.si-single .sponsor-item a {
	display: block!important;
}