.poverty-progress {
	padding: 0!important;
	margin-bottom: 50px;
	p {
		margin: 0!important;
	}
}
.info-subdireccion {
	background-color: $azul;
	color: $blanco;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 7px;

}